@page
@model Server.Pages.User.IndexModel
@{
    var pageTitle = $"{Resources.PageTitles.Profile} - {User.Claims.FirstOrDefault(x => x.Type == "FullName").Value}";

    ViewData["PageTitle"] = pageTitle;

    Layout = "Layouts/Ltr/_Layout";
}

<br />
<br />
<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 p-3">
            <div class="border p-3">
                <i class="bi bi-person-circle"></i> <span class="d-none d-sm-inline">@(User.Claims.FirstOrDefault(x => x.Type == "FullName").Value)</span>
                <hr />
                <a asp-page="Card/Index" asp-route-id="@(User.Claims.FirstOrDefault(x => x.Type == "Id").Value)" class="w-100 border text-dark my-1 btn btn-outline-light"><i class="bi bi-cart"></i><span class="ms-2 d-none d-sm-inline">@(Resources.DataDictionary.Card)</span></a>
                <a class="w-100 border text-dark my-1 btn btn-outline-light" asp-page="/Account/User/Update"><i class="bi bi-arrow-repeat"></i><span class="ms-2 d-none d-sm-inline">@(Resources.PageTitles.UpdateProfile)</span></a>
                <a class="w-100 border text-dark my-1 btn btn-outline-light" asp-page="/Account/Logout"><i class="bi bi-box-arrow-left"></i><span class="ms-2 d-none d-sm-inline">@(Resources.PageTitles.Logout)</span></a>
            </div>
        </div>

        <div class="col-12 col-md-8 p-3">
            <div class="row border p-3">
                <div class="text-center col-12">
                    <h2>@(User.Claims.FirstOrDefault(x => x.Type == "FullName").Value) @(Resources.DataDictionary.Welcome)</h2>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="border rounded-2 m-1 p-3">
                        <h5><i class="bi bi-cart"></i> @(Resources.DataDictionary.Number) @(Resources.DataDictionary.Product) @(Resources.DataDictionary.Card) : @(Model.CountCard)</h5>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="border rounded-2 m-1 p-3">
                        <h5><i class="bi bi-cart"></i> @(Resources.DataDictionary.Number) @(Resources.DataDictionary.Buy) : @(Model.CountTotal)</h5>
                    </div>
                </div>
                <div class="col-12 my-2">
                    <a class="btn btn-danger w-100" asp-page="/User/Comments/Index">@(Resources.DataDictionary.Comments)</a>
                </div>
            </div>
        </div>
    </div>
</div>