@page
@model Server.Pages.Admin.Users.CreateModel

@{
	var pageTitle =
		$"{Resources.ButtonCaptions.Create} {Resources.DataDictionary.User}";

	ViewData[Infrastructure.ViewDataKeyNames.PageTitle] = pageTitle;

	Layout = "Layouts/Admin/Rtl/_Layout";

}

<form method="post">

	<section-form>
		<fieldset>
			<section-form-header>
				@(pageTitle)
			</section-form-header>

			<partial name="PartialViews/_DisplayPageMessages" />

			<section-form-field>
				<label asp-for="ViewModel.FullName"></label>
				<input asp-for="ViewModel.FullName" />
				<span asp-validation-for="ViewModel.FullName"></span>
			</section-form-field>

			<section-form-field>
				<label asp-for="ViewModel.FatherName"></label>
				<input asp-for="ViewModel.FatherName" />
				<span asp-validation-for="ViewModel.FatherName"></span>
			</section-form-field>

			<section-form-field>
				<label asp-for="ViewModel.Username"></label>
				<input asp-for="ViewModel.Username" />
				<span asp-validation-for="ViewModel.Username"></span>
			</section-form-field>

			<section-form-field>
				<label asp-for="ViewModel.CellPhoneNumber"></label>
				<input asp-for="ViewModel.CellPhoneNumber" />
				<span asp-validation-for="ViewModel.CellPhoneNumber"></span>
			</section-form-field>

			<section-form-field>
				<label asp-for="ViewModel.EmailAddress"></label>
				<input asp-for="ViewModel.EmailAddress" />
				<span asp-validation-for="ViewModel.EmailAddress"></span>
			</section-form-field>

			<section-form-field>
				<label asp-for="ViewModel.Password"></label>
				<input type="password" asp-for="ViewModel.Password" />
				<span asp-validation-for="ViewModel.Password"></span>
			</section-form-field>

			<section-form-field>
				<label asp-for="ViewModel.ConfirmPassword"></label>
				<input type="password" asp-for="ViewModel.ConfirmPassword" />
				<span asp-validation-for="ViewModel.ConfirmPassword"></span>
			</section-form-field>

			<section-form-field>
				<label asp-for="ViewModel.PostalCode"></label>
				<input asp-for="ViewModel.PostalCode" />
				<span asp-validation-for="ViewModel.PostalCode"></span>
			</section-form-field>

			<section-form-field>
				<label asp-for="ViewModel.NationalCode"></label>
				<input asp-for="ViewModel.NationalCode" />
				<span asp-validation-for="ViewModel.NationalCode"></span>
			</section-form-field>

			<section-form-field>
				<label asp-for="ViewModel.Gender"></label>
				<select asp-for="ViewModel.Gender">
                    <option>
                        @(Resources.DataDictionary.Male)
                    </option>
                    <option>
                        @(Resources.DataDictionary.Female)
                    </option>
                </select>
				<span asp-validation-for="ViewModel.Gender"></span>
			</section-form-field>

			<section-form-field>
				<label asp-for="ViewModel.ProvinceAddress"></label>
				<input asp-for="ViewModel.ProvinceAddress" />
				<span asp-validation-for="ViewModel.ProvinceAddress"></span>
			</section-form-field>

			<section-form-field>
				<label asp-for="ViewModel.CityAddress"></label>
				<input asp-for="ViewModel.CityAddress" />
				<span asp-validation-for="ViewModel.CityAddress"></span>
			</section-form-field>

			<section-form-field>
				<label asp-for="ViewModel.Address"></label>
				<input asp-for="ViewModel.Address" />
				<span asp-validation-for="ViewModel.Address"></span>
			</section-form-field>

			<section-form-field>
				<label asp-for="ViewModel.Role"></label>

				<select class="form-select" asp-for="ViewModel.Role"
						asp-items="@(new SelectList(Model.RolesViewModel,
						nameof(ViewModels.Shared.ValueNameViewModel.Value),
						nameof(ViewModels.Shared.ValueNameViewModel.Name)))">
				</select>

				<span asp-validation-for="ViewModel.Role"></span>
			</section-form-field>

			<section-form-check>
				<input asp-for="ViewModel.IsProgrammer" />
				<label asp-for="ViewModel.IsProgrammer"></label>
			</section-form-check>

			<section-form-field>
				<label asp-for="ViewModel.Ordering"></label>
				<input asp-for="ViewModel.Ordering" value="10000" />
				<span asp-validation-for="ViewModel.Ordering"></span>
			</section-form-field>

			<section-form-check>
				<input asp-for="ViewModel.IsActive" />
				<label asp-for="ViewModel.IsActive"></label>
			</section-form-check>

			<section-form-check>
				<input asp-for="ViewModel.IsUndeletable" />
				<label asp-for="ViewModel.IsUndeletable"></label>
			</section-form-check>

			<section-form-field>
				<label asp-for="ViewModel.AdminDescription"></label>
				<textarea asp-for="ViewModel.AdminDescription"></textarea>
				<span asp-validation-for="ViewModel.AdminDescription"></span>
			</section-form-field>
		</fieldset>

		<section-form-buttons>
			<button-create />
			<button-reset />
		</section-form-buttons>

		<section-form-footer>
			<a asp-page="Index">
				@(Html.DtatGetLinkCaptionForList())
			</a>
		</section-form-footer>
	</section-form>

</form>
