@page
@model Server.Pages.Admin.Users.UpdateModel

@{
	var pageTitle =
		$"{Resources.ButtonCaptions.Update} {Resources.DataDictionary.User}";

	ViewData[Infrastructure.ViewDataKeyNames.PageTitle] = pageTitle;

	Layout = "Layouts/Admin/Rtl/_Layout";

}

<form method="post">

	<section-form>
		<fieldset>
			<section-form-header>
				@(pageTitle)
			</section-form-header>

			<partial name="PartialViews/_DisplayPageMessages" />

			<input type="hidden" asp-for="ViewModel.Id" />

			@* <section-form-field>
				<label asp-for="ViewModel.EmailAddress"></label>
				<input asp-for="ViewModel.EmailAddress" />
				<span asp-validation-for="ViewModel.EmailAddress"></span>
			</section-form-field> *@

			@* <section-form-field>
				<label asp-for="ViewModel.Username"></label>
				<input asp-for="ViewModel.Username" />
				<span asp-validation-for="ViewModel.Username"></span>
			</section-form-field> *@

			<section-form-field>
				<label asp-for="ViewModel.FullName"></label>
				<input asp-for="ViewModel.FullName" />
				<span asp-validation-for="ViewModel.FullName"></span>
			</section-form-field>

			<section-form-field>
				<label asp-for="ViewModel.PostalCode"></label>
				<input asp-for="ViewModel.PostalCode" />
				<span asp-validation-for="ViewModel.PostalCode"></span>
			</section-form-field>

			<section-form-field>
				<label asp-for="ViewModel.NationalCode"></label>
				<input asp-for="ViewModel.NationalCode" />
				<span asp-validation-for="ViewModel.NationalCode"></span>
			</section-form-field>

			<section-form-field>
				<label asp-for="ViewModel.Gender"></label>
				<select asp-for="ViewModel.Gender">
					@if (Model.ViewModel.Gender == Resources.DataDictionary.Male)
					{
						<option>@(Resources.DataDictionary.Male)</option>
						<option>@(Resources.DataDictionary.Female)</option>
					}
					@if (Model.ViewModel.Gender == Resources.DataDictionary.Female)
					{
						<option>@(Resources.DataDictionary.Female)</option>
						<option>@(Resources.DataDictionary.Male)</option>
					}
					@if (Model.ViewModel.Gender == null)
					{
						<option>@(Resources.DataDictionary.Female)</option>
						<option>@(Resources.DataDictionary.Male)</option>
					}
			</select>
				<span asp-validation-for="ViewModel.Gender"></span>
			</section-form-field>

			<section-form-field>
				<label asp-for="ViewModel.ProvinceAddress"></label>
				<input asp-for="ViewModel.ProvinceAddress" />
				<span asp-validation-for="ViewModel.ProvinceAddress"></span>
			</section-form-field>

			<section-form-field>
				<label asp-for="ViewModel.CityAddress"></label>
				<input asp-for="ViewModel.CityAddress" />
				<span asp-validation-for="ViewModel.CityAddress"></span>
			</section-form-field>

			<section-form-field>
				<label asp-for="ViewModel.Address"></label>
				<input asp-for="ViewModel.Address" />
				<span asp-validation-for="ViewModel.Address"></span>
			</section-form-field>

			<section-form-field>
				<label asp-for="ViewModel.Role"></label>

				<select class="form-select" asp-for="ViewModel.Role"
						asp-items="@(new SelectList(Model.RolesViewModel,
						nameof(ViewModels.Shared.ValueNameViewModel.Value),
						nameof(ViewModels.Shared.ValueNameViewModel.Name)))">
				</select>
			</section-form-field>

			<section-form-check>
				<input asp-for="ViewModel.IsProgrammer" />
				<label asp-for="ViewModel.IsProgrammer"></label>
			</section-form-check>

			<section-form-field>
				<label asp-for="ViewModel.Ordering"></label>
				<input asp-for="ViewModel.Ordering" />
				<span asp-validation-for="ViewModel.Ordering"></span>
			</section-form-field>

			<section-form-check>
				<input asp-for="ViewModel.IsActive" />
				<label asp-for="ViewModel.IsActive"></label>
			</section-form-check>

			<section-form-check>
				<input asp-for="ViewModel.IsUndeletable" />
				<label asp-for="ViewModel.IsUndeletable"></label>
			</section-form-check>

			<section-form-field>
				<label asp-for="ViewModel.AdminDescription"></label>
				<textarea asp-for="ViewModel.AdminDescription"></textarea>
				<span asp-validation-for="ViewModel.AdminDescription"></span>
			</section-form-field>
		</fieldset>

		<section-form-buttons>
			<button-save />
			<button-reset />
		</section-form-buttons>

		<section-form-footer>
			<a asp-page="Index">
				@(Html.DtatGetLinkCaptionForList())
			</a>
			<a asp-page="Details" asp-route-id="@(Model.ViewModel.Id)">
				@(Html.DtatGetLinkCaptionForDetails())
			</a>
			<a asp-page="Delete" asp-route-id="@(Model.ViewModel.Id)">
				@(Html.DtatGetLinkCaptionForDelete())
			</a>
		</section-form-footer>
	</section-form>

</form>
