@page
@model Server.Pages.Admin.TransportCosts.DetailsModel
@{
	var pageTitle =
	$"{Resources.ButtonCaptions.Details} {Resources.DataDictionary.ShippingCost}";

	ViewData[Infrastructure.ViewDataKeyNames.PageTitle] = pageTitle;

	Layout = "Layouts/Admin/Rtl/_Layout";
}

<section-form>
	<fieldset disabled>
		<section-form-header>
			@(pageTitle)
		</section-form-header>

		<partial name="PartialViews/_DisplayPageMessages" />

		<section-form-field>
			<label asp-for="ViewModel.Maximum_Weight"></label>
			<input asp-for="ViewModel.Maximum_Weight" />
			<span asp-validation-for="ViewModel.Maximum_Weight"></span>
		</section-form-field>

		<section-form-field>
			<label asp-for="ViewModel.Price"></label>
			<input asp-for="ViewModel.Price" />
			<span asp-validation-for="ViewModel.Price"></span>
		</section-form-field>

		<section-form-check>
			<label asp-for="ViewModel.IsActive"></label>
			<input asp-for="ViewModel.IsActive" />
		</section-form-check>
	</fieldset>

	<section-form-footer>
		<a asp-page="Index">
			@(Html.DtatGetLinkCaptionForList())
		</a>
		<a asp-page="Update" asp-route-id="@(Model.ViewModel.Id)">
			@(Html.DtatGetLinkCaptionForUpdate())
		</a>
		<a asp-page="Delete" asp-route-id="@(Model.ViewModel.Id)">
			@(Html.DtatGetLinkCaptionForDelete())
		</a>
	</section-form-footer>
</section-form>