@inject Infrastructure.Settings.ApplicationSettings applicationSettings
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor

<footer class="py-3 my-4 border-top bg-white">

    <div class="row m-3 border-bottom">
        <div class="col-sm-12 col-md-4">
            <h4>@(Resources.DataDictionary.Galery) @(Resources.DataDictionary.Melikabanoo)</h4>
            <p class="mt-5">تولید و پخش انواع محصولات برای <br /> کودکان و نوجوانان با طرح حجاب و ایرانی</p>
            @* <p>#ما_معتقدیم_لوازم_تحریر_فرزندانمان_فرهنگساز_است</p> *@
        </div>
        <div class="col-sm-12 col-md-4">
            <h4>@(Resources.DataDictionary.Communicational)</h4>
            <p class="mt-5"></p>
            @*<p class="mt-5">@(Resources.DataDictionary.CellPhoneNumber) : 09155591401</p>
            <p>@(Resources.DataDictionary.Address) : مشهد</p>*@
            <a href="https://eitaa.com/melikabano" target="_blank"><img src="~/images/Eitaa.png" style="width : 40px; height : 40px" class="rounded border" /></a>
            <a href="https://instagram.com/melikabano.ir?igshid=NzZhOTFlYzFmZQ==" target="_blank"><img src="~/images/instagram.png" style="width : 50px; height : 50px" class="rounded" /></a>
        </div>
        <div class="col-sm-12 col-md-4">
            <h4>@(Resources.DataDictionary.Galery) @(Resources.DataDictionary.Melikabanoo)</h4>
            <p class="mt-5"><a class="text-decoration-none text-dark" asp-page="/About">@(Resources.PageTitles.About)</a></p>
            <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=394102&Code=SWhPXMXsUA8iphQoIhfWlmmk1oIX6YVs'>
                <img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=394102&Code=SWhPXMXsUA8iphQoIhfWlmmk1oIX6YVs' alt='' style='cursor:pointer' code='SWhPXMXsUA8iphQoIhfWlmmk1oIX6YVs'>
            </a>
        </div>
    </div>

    <p class="mt-2 text-center text-muted">Modaresin &copy;</p>
</footer>

