@page
@model Server.Pages.Admin.Categories.UpdateModel
@using Resources

@{
    var pageTitle = $"{ButtonCaptions.Update} {DataDictionary.Category}";

    ViewData[ViewDataKeyNames.PageTitle] = pageTitle;
}


<form method="post">

    <section-form>
        <fieldset>
            <section-form-header>
                @(pageTitle)
            </section-form-header>

            <partial name="PartialViews/_DisplayPageMessages" />

            <input type="hidden" asp-for="ViewModel.Id" />

            <section-form-field>
                <label asp-for="ViewModel.Name"></label>
                <input asp-for="ViewModel.Name" />
                <span asp-validation-for="ViewModel.Name"></span>
            </section-form-field>

            <section-form-field>
                <label asp-for="ViewModel.ParentId"></label>

                <select class="form-select" asp-for="ViewModel.ParentId"
                        asp-items="@(new SelectList(Model.ParentsViewModel,
						nameof(ViewModels.Shared.KeyValueViewModel.Id),
						nameof(ViewModels.Shared.KeyValueViewModel.Name)))">
                    @{
                        if (Model.ViewModel.ParentId == null)
                        {
                            <option value="@(null)" selected>
                                @(DataDictionary.WithoutParent)
                            </option>
                        }
                    }
                </select>

                <span asp-validation-for="ViewModel.ParentId"></span>
            </section-form-field>

            <section-form-field>
                <label asp-for="ViewModel.Ordering"></label>
                <input asp-for="ViewModel.Ordering" />
                <span asp-validation-for="ViewModel.Ordering"></span>
            </section-form-field>

            <section-form-check>
                <input asp-for="ViewModel.IsActive" />
                <label asp-for="ViewModel.IsActive"></label>
            </section-form-check>

            <section-form-check>
                <input asp-for="ViewModel.IsDeletable" />
                <label asp-for="ViewModel.IsDeletable"></label>
            </section-form-check>
        </fieldset>

        <section-form-buttons>
            <button-save />
            <button-reset />
        </section-form-buttons>

        <section-form-footer>
            <a asp-page="Index">
                @(Html.DtatGetLinkCaptionForList())
            </a>
            <a asp-page="Details" asp-route-id="@(Model.ViewModel.Id)">
                @(Html.DtatGetLinkCaptionForDetails())
            </a>
            @if (Model.ViewModel.IsDeletable)
            {
                <a asp-page="Delete" asp-route-id="@(Model.ViewModel.Id)">
                    @(Html.DtatGetLinkCaptionForDelete())
                </a>
            }
        </section-form-footer>
    </section-form>

</form>