@page
@model Server.Pages.CategoryProductsModel
@{
    var pageTitle = $"{Resources.DataDictionary.Products} ({Model.category.Name})";

    ViewData["PageTitle"] = pageTitle;

    Layout = "Layouts/Ltr/_Layout";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="container">
    @if (Model.ViewModelProducts.Count == 0)
    {
        <div class="text-center border rounded-3 bg-light p-2 mt-2 shadow-lg">
            <h3 class="w-100 rounded-2 bg-danger p-2 text-white">
                @(Resources.Messages.Errors.Thedesireditemwasnotfound)
            </h3>
        </div>
    }
    @if (Model.ViewModelProducts.Count != 0)
    {
        <div class="row border rounded-3 bg-light p-2 mt-2 shadow-lg">
            <h3 class="w-100 rounded-2 bg-danger p-2 text-white">
                <i class="bi bi-bag"></i> @(pageTitle)
            </h3>
            @foreach (var item in Model.ViewModelProducts)
            {
                var Pic = Model._context.ProductsPic.FirstOrDefault(x => x.Product_Id == item.Id);
                if (Pic == null)
                {
                    decimal price = decimal.Parse(item.Discount_Single.ToString(), System.Globalization.NumberStyles.Currency);
                    <div class="col-12 col-lg-6">
                        <a class="text-decoration-none text-dark" asp-page="/Product" asp-route-id="@(item.Id)">
                            <div class="post2 row m-1 p-2 border rounded-2">
                                <div class="col-5">
                                    <img class="rounded-2 post2-img" src="~/images/download.png" width="100%" height="100%" />
                                </div>
                                <div class="col-7">
                                    <br />
                                    <p class="text-end">@(item.Name_Product)</p>
                                    <br />
                                    @if (item.Number > 0)
                                    {
                                        <p class="text-start">@(price.ToString("#,#")) تومان </p>
                                    }
                                    else
                                    {
                                        <p class="text-start text-danger">@(Resources.DataDictionary.Endofinventory)</p>
                                    }
                                </div>
                            </div>
                        </a>
                    </div>

                    @*decimal price = decimal.Parse(item.Discount_Single.ToString(), System.Globalization.NumberStyles.Currency);
                    <div class="col-6 col-lg-3">
                        <a class="text-decoration-none m-2" asp-page="/Product" asp-route-id="@(item.Id)">
                            <div class="post">
                                <img src="~/images/download.png" class="post-img" />
                                <div class="post-content">
                                    <h3 class="text-muted">@(item.Name_Product)</h3>
                                    <span class="date">@(price.ToString("#,#")) </span>
                                </div>
                            </div>
                        </a>
                    </div>*@
                }
                if (Pic != null)
                {
                    decimal price = decimal.Parse(item.Discount_Single.ToString(), System.Globalization.NumberStyles.Currency);
                    <div class="col-12 col-lg-6">
                        <a class="text-decoration-none text-dark" asp-page="/Product" asp-route-id="@(item.Id)">
                            <div class="post2 row m-1 p-2 border rounded-2">
                                <div class="col-5">
                                    <img class="rounded-2 post2-img" src="~/ProductPic/@(Pic.PicAddress1)" width="100%" height="100%" />
                                </div>
                                <div class="col-7">
                                    <br />
                                    <p class="text-end">@(item.Name_Product)</p>
                                    <br />
                                    @if (true)
                                    {
                                        <p class="text-start">@(price.ToString("#,#")) تومان </p>
                                    }
                                    else
                                    {
                                        <p class="text-start text-danger">@(Resources.DataDictionary.Endofinventory)</p>
                                    }
                                </div>
                            </div>
                        </a>
                    </div>

                    @*decimal price = decimal.Parse(item.Discount_Single.ToString(), System.Globalization.NumberStyles.Currency);
                    <div class="col-6 col-lg-3">
                        <a class="text-decoration-none m-2" asp-page="/Product" asp-route-id="@(item.Id)">
                            <div class="post">
                                <img src="~/ProductPic/@(Pic.PicAddress1)" class="post-img" />
                                <div class="post-content">
                                    <h3 class="text-muted">@(item.Name_Product)</h3>
                                    <span class="date">@(price.ToString("#,#")) </span>
                                </div>
                            </div>
                        </a>
                    </div>*@
                }
            }
        </div>
    }
</div>