@page
@model Server.Pages.ProductsModel
@{
    var pageTitle =
        Resources.DataDictionary.Products;

    ViewData["PageTitle"] = pageTitle;

    Layout = "Layouts/Ltr/_Layout";
}

<br />
<br />

<div class="container">
    <form class="d-flex" method="post">
        <button class="d-flex btn btn-outline-danger" type="submit"><i class="bi bi-search"></i> @(Resources.DataDictionary.Search)</button>
        <input asp-for="Search" class="d-flex form-control me-1 ms-1" placeholder="@(Resources.DataDictionary.Search)..." aria-label="Search">
    </form>
</div>

<div class="w-100 border-bottom mt-3"></div>

<br />
<br />

<div class="container">
    @if (Model.ViewModelProduct.Count == 0)
    {
        <div class="text-center border rounded-3 bg-light p-2 mt-2 shadow-lg">
            <h3 class="w-100 rounded-2 bg-danger p-2 text-white">
                @(Resources.Messages.Errors.Thedesireditemwasnotfound)
            </h3>
        </div>
    }
    @if (Model.ViewModelProduct.Count != 0)
    {
        <div class="row border rounded-3 p-2 bg-light mt-2 shadow-lg">
            <h3 class="w-100 rounded-2 bg-danger p-2 text-white">
                <i class="bi bi-bag"></i> @(Resources.DataDictionary.Products)
            </h3>
            @foreach (var item in Model.ViewModelProduct)
            {
                var Pic = Model._context.ProductsPic.FirstOrDefault(x => x.Product_Id == item.Id);
                if (Pic == null)
                {
                    <div class="col-6 col-lg-3">
                        <a class="text-decoration-none" asp-route-id="@(item.Id)" asp-page="/Product">
                            <div class="post">
                                <img src="~/images/download.png" class="post-img" />
                                <div class="post-content">
                                    <h3 class="text-muted">@(item.Name_Product)</h3>
                                    <span class="date"> @(Resources.DataDictionary.Price) : @(item.Discount_Single) </span>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                if (Pic != null)
                {
                    <div class="col-6 col-lg-3">
                        <a class="text-decoration-none" asp-route-id="@(item.Id)" asp-page="/Product">
                            <div class="post">
                                <img src="~/ProductPic/@(Pic.PicAddress1)" class="post-img" />
                                <div class="post-content">
                                    <h3 class="text-muted">@(item.Name_Product)</h3>
                                    <span class="date"> @(Resources.DataDictionary.Price) : @(item.Discount_Single) </span>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    }
</div>