@page
@model Server.Pages.Admin.Sales.UpdateModel
@{
    var pageTitle =
	$"{Resources.ButtonCaptions.Update} {Resources.DataDictionary.Card}";

	ViewData[Infrastructure.ViewDataKeyNames.PageTitle] = pageTitle;

	Layout = "Layouts/Admin/Rtl/_Layout";
}

<form method="post">
	<section-form>
		<fieldset>
			<section-form-header>
				@(pageTitle)
			</section-form-header>

			<partial name="PartialViews/_DisplayPageMessages" />

			<input type="hidden" asp-for="ViewModel.Id" />

			<section-form-field>
				<label asp-for="ViewModel.Number"></label>
				<input asp-for="ViewModel.Number" />
				<span asp-validation-for="ViewModel.Number"></span>
			</section-form-field>
		</fieldset>

		<section-form-buttons>
			<button-save />
			<button-reset />
		</section-form-buttons>

		<section-form-footer>
			<a asp-page="Index">
				@(Html.DtatGetLinkCaptionForList())
			</a>
			<a asp-page="Details" asp-route-id="@(Model.ViewModel.Id)">
				@(Html.DtatGetLinkCaptionForDetails())
			</a>
			<a asp-page="Delete" asp-route-id="@(Model.ViewModel.Id)">
				@(Html.DtatGetLinkCaptionForDelete())
			</a>
		</section-form-footer>
	</section-form>
</form>