@if (User == null ||
 User.Identity == null ||
 User.Identity.IsAuthenticated == false)
{
    <p>
        <a class="text-dark text-decoration-none btn btn-outline-light" asp-page="/Account/Register">
            <i class="bi bi-plus-square"></i> <span class="d-none d-sm-inline">@(Resources.PageTitles.Register)</span>
        </a>
        |
        <a class="text-dark text-decoration-none btn btn-outline-light" asp-page="/Account/Login">
            <i class="bi bi-box-arrow-in-left"></i> <span class="d-none d-sm-inline">@(Resources.PageTitles.Login)</span>
        </a>
    </p>
}
else
{
    if (User.Claims.FirstOrDefault(x => x.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role").Value == "Admin")
    {
        <p>
            <a class="text-warning text-decoration-none btn btn-outline-light" asp-page="/Admin/Index">
                <i class="bi bi-speedometer2"></i> <span class="d-none d-sm-inline">@(Resources.DataDictionary.Dashboard)</span>
            </a>
            |
            <a class="text-dark text-decoration-none btn btn-outline-light" asp-page="/Account/Logout">
                <i class="bi bi-box-arrow-left"></i> <span class="d-none d-sm-inline">@(Resources.PageTitles.Logout)</span>
            </a>
        </p>
    }

    if (User.Claims.FirstOrDefault(x => x.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role").Value == "Manager")
    {
        <p>
            <a class="text-warning text-decoration-none btn btn-outline-light" asp-page="/Manager/Index">
                <i class="bi bi-speedometer2"></i> <span class="d-none d-sm-inline">@(Resources.DataDictionary.Dashboard)</span>
            </a>
            |
            <a class="text-dark text-decoration-none btn btn-outline-light" asp-page="/Account/Logout">
                <i class="bi bi-box-arrow-left"></i> <span class="d-none d-sm-inline">@(Resources.PageTitles.Logout)</span>
            </a>
        </p>
    }

    if (User.Claims.FirstOrDefault(x => x.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role").Value == "User")
    {
        <p>
            <a class="text-dark text-decoration-none btn btn-outline-light" asp-route-id="@(User.Claims.FirstOrDefault(x => x.Type == "Id").Value)" asp-page="/User/Index">
                <i class="bi bi-person"></i> <span class="d-none d-sm-inline">@(Resources.PageTitles.Profile)</span>
            </a>
            |
            <a class="text-dark text-decoration-none btn btn-outline-light" asp-route-id="@(User.Claims.FirstOrDefault(x => x.Type == "Id").Value)" asp-page="/User/Card/Index">
                <i class="bi bi-cart"></i> <span class="d-none d-sm-inline">@(Resources.DataDictionary.Card)</span>
            </a>
        </p>
    }

    if (User.Claims.FirstOrDefault(x => x.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role").Value == "Special")
    {
        <p>
            <a class="text-dark text-decoration-none btn btn-outline-light" asp-route-id="@(User.Claims.FirstOrDefault(x => x.Type == "Id").Value)" asp-page="/User/Index">
                <i class="bi bi-person"></i> <span class="d-none d-sm-inline">@(Resources.PageTitles.Profile)</span>
            </a>
            |
            <a class="text-dark text-decoration-none btn btn-outline-light" asp-route-id="@(User.Claims.FirstOrDefault(x => x.Type == "Id").Value)" asp-page="/User/Card/Index">
                <i class="bi bi-cart"></i> <span class="d-none d-sm-inline">@(Resources.DataDictionary.Card)</span>
            </a>
        </p>
    }
}