@page
@model Server.Pages.Account.User.UpdateModel
@{
    var pagetitle = $"{Resources.ButtonCaptions.Update} {Resources.DataDictionary.Information} {User.Claims.FirstOrDefault(x => x.Type == "FullName").Value}";

    ViewData["pagetitle"] = pagetitle;
}

<br />
<br />
<br />
<br />
<br />

<div class="row">
    <div class="col-sm-1 col-lg-3"></div>
    <div class="col-sm-10 col-lg-6">
        <form method="post">

            <input type="hidden" asp-for="ViewModel.Id" />

            <div class="container">
                <div class="row">
                    <div class="col-12 bg-light border border-2 rounded-3 shadow-lg">
                        <fieldset>
                            <legend>
                                @(pagetitle)
                            </legend>

                            <hr />

                            <partial name="PartialViews/_DisplayPageMessages" />

                            <div class="mb-3">
                                <label asp-for="ViewModel.FullName" class="form-label"></label>

                                <div class="input-group">
                                    <input asp-for="ViewModel.FullName" class="form-control" dir="rtl" />
                                    <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                </div>

                                <span asp-validation-for="ViewModel.FullName" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="ViewModel.FatherName" class="form-label"></label>

                                <div class="input-group">
                                    <input asp-for="ViewModel.FatherName" class="form-control" dir="rtl" />
                                    <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                </div>

                                <span asp-validation-for="ViewModel.FatherName" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="ViewModel.Username" class="form-label"></label>

                                <div class="input-group">
                                    <input asp-for="ViewModel.Username" class="form-control" dir="ltr" />
                                    <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                </div>

                                <span asp-validation-for="ViewModel.Username" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="ViewModel.CellPhoneNumber" class="form-label"></label>

                                <div class="input-group">
                                    <input asp-for="ViewModel.CellPhoneNumber" class="form-control" dir="ltr" />
                                    <div class="input-group-text"><i class="bi bi-telephone-fill"></i></div>
                                </div>

                                <span asp-validation-for="ViewModel.CellPhoneNumber" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="ViewModel.EmailAddress" class="form-label"></label>

                                <div class="input-group">
                                    <input asp-for="ViewModel.EmailAddress" class="form-control" dir="ltr" />
                                    <div class="input-group-text"><i class="bi bi-envelope-fill"></i></div>
                                </div>

                                <span asp-validation-for="ViewModel.EmailAddress" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="ViewModel.Gender" class="form-label"></label>

                                <div class="input-group">
                                    <select asp-for="ViewModel.Gender" class="form-control" dir="ltr">
                                        <option>@(Resources.DataDictionary.Male)</option>
                                        <option>@(Resources.DataDictionary.Female)</option>
                                    </select>
                                    <div class="input-group-text"><i class="bi bi-gender-male"></i></div>
                                </div>

                                <span asp-validation-for="ViewModel.Gender" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="ViewModel.ProvinceAddress" class="form-label"></label>

                                <div class="input-group">
                                    <input asp-for="ViewModel.ProvinceAddress" class="form-control" dir="rtl" />
                                    <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                </div>

                                <span asp-validation-for="ViewModel.ProvinceAddress" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="ViewModel.CityAddress" class="form-label"></label>

                                <div class="input-group">
                                    <input asp-for="ViewModel.CityAddress" class="form-control" dir="rtl" />
                                    <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                </div>

                                <span asp-validation-for="ViewModel.CityAddress" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="ViewModel.Address" class="form-label"></label>

                                <div class="input-group">
                                    <input asp-for="ViewModel.Address" class="form-control" dir="rtl" />
                                    <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                </div>

                                <span asp-validation-for="ViewModel.Address" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="ViewModel.NationalCode" class="form-label"></label>

                                <div class="input-group">
                                    <input asp-for="ViewModel.NationalCode" class="form-control" dir="ltr" />
                                    <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                </div>

                                <span asp-validation-for="ViewModel.NationalCode" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <label asp-for="ViewModel.PostalCode" class="form-label"></label>

                                <div class="input-group">
                                    <input asp-for="ViewModel.PostalCode" class="form-control" dir="ltr" />
                                    <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                </div>

                                <span asp-validation-for="ViewModel.PostalCode" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">@(Resources.ButtonCaptions.Update)</button>
                                <button type="reset" class="btn btn-secondary">@(Resources.ButtonCaptions.Reset)</button>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="col-sm-1 col-lg-3"></div>
</div>